:root {
	--text-color: #f24962;
	--accent-color: #f2f2f2;
}

* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-image: url(/static/assets/login-bg.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.card {
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(242, 73, 98, 1) 0%,
		rgba(240, 117, 117, 1) 100%
	);
	width: 50%;
	background-color: red;
	height: 80vh;
	border-radius: 2rem;
}

form {
	margin: 0rem 4rem;
	display: flex;
	flex-direction: column;
}

.title {
	color: #fff;
	text-align: center;
	margin: 3rem;
	font-size: 2.6rem;
	font-weight: bold;
}

.card form input {
	outline: none;
	box-shadow: none;
	border: none;
	background: none;
	color: #fff;
	font-weight: 100;
	font-size: 1.4rem;
}

.card form input::placeholder {
	color: #fff;
}

hr {
	border: 1px solid #fff;
	width: 100%;
	margin-bottom: 2.7rem;
}

.register-btn {
	background-color: #fff !important;
	color: var(--text-color) !important;
	text-decoration: none;
	border-radius: 3rem;
	border: none;
	font-weight: bold;
	font-size: 1.5rem;
	padding: 0.5rem 3rem;
	align-self: center;
}

.register-btn:hover {
	cursor: pointer;
	background-color: #fdf3f3 !important;
}

.icon {
	color: #fff;
	width: 30px;
	height: auto;
}

.group {
	display: flex;
	gap: 0.5rem;
}
