<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles.css') }}"
		/>
		<script
			defer
			src="{{ url_for('static', filename='js/script.js') }}"
		></script>
		{% block head %} {% endblock %}
		<title>Recipe Finder: {% block title %}{% endblock %}</title>
	</head>
	<body>
		<h1 id="logo">Recipeazy</h1>
		<nav>
			{% if session["user_id" ] %}
			<ul class="navbar">
				<li><a href="/search">Search</a></li>
				<li><a href="/saved">Saved</a></li>
				<li>
					<a href="/cart">Cart</a>
				</li>
				<li>
					<a href="/logout">Log Out</a>
				</li>
			</ul>
			{% else %}
			<ul>
				<li>
					<a href="/login">Log In</a>
				</li>
				<li>
					<a id="register-btn" href="/register">Register</a>
				</li>
			</ul>
			{% endif %}
		</nav>

		<main>{% block content %} {% endblock %}</main>
	</body>
</html>
