<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/login.css') }}"
		/>
		<title>Recipe Finder: Login</title>
	</head>
	<body>
		<div class="card">
			<h1 class="title">Log In</h1>
			<form action="/login" method="post">
				<div class="group">
					<img class="icon" src="/static/assets/user.png" alt="user icon" />
					<input
						class="username"
						type="text"
						name="username"
						placeholder="Username"
					/>
				</div>

				<hr />
				<div class="group">
					<img
						class="icon"
						src="/static/assets/password.png"
						alt="password icon"
					/>
					<input
						class="password"
						type="password"
						name="password"
						placeholder="Password"
					/>
				</div>

				<hr />
				<button class="login-btn hover" type="submit">Log In</button>
			</form>
		</div>
	</body>
</html>
