{% extends "layout.html" %} {% block title %} Search {% endblock %} {% block
head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/search.css') }}"
/>
{% endblock %}{% block content %} {% block searchbar %}
<form action="/search" method="post">
  <div class="searchbar">
    <button class="submit-search" type="submit">
      <img src="/static/assets/search.png" alt="search icon" />
    </button>

    <input
      class="search"
      type="text"
      name="ingredients"
      placeholder="Input your ingredients"
    />
  </div>

  <div class="slider-container">
    <label for="slider"># of recipes</label>
    <input
      id="slider"
      type="range"
      name="numOfRecipes"
      min="1"
      max="100"
      value="10"
      step="1"
    />
  </div>
</form>
{% endblock %} {% block recipes_content %}{% endblock %} {% endblock %}
